<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-lg-5 p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">About</h1>
    <h2 class="ps-1">Design goals</h2>
    <p class="px-2 mb-1">The Mastery Learning App (MLA) is designed for three types of uses:
      <ul class="mb-3" style="padding-left: 2.5rem!important;">
        <li>Weekly on-paper Mastery Exams over skills in the course</li>
        <li>Online Mastery-graded homework</li>
        <li>In-class questions with peer review</li>
      </ul>
    </p>

  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>